:root {
    --white-color: #FFFAFA;
    --black-color: #292D32;
    --lightblack-color: #757575;
    --lighterblack-color: #e4e4e4;
    --page-color: #EDEDED;
    
    --gradient-primary: linear-gradient(45deg, #110DD5, #108AEE);
    --primary-color: #110DD5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy-Medium", sans-serif;
}

body{
    background-color: var(--page-color);

}

.page-container{
    display: flex;
    flex-direction: row;
    
    height: 100vh;
}

.sidebar{
    
    width: 260px;
    max-width: 260px;
    min-width: 260px;
    flex-basis: 260px;
    position: fixed;
    height: 100vh;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 5px 20px ;
    background-color: var(--white-color);
    box-shadow: 2px 2px 5px var(--lighterblack-color);

}

.profile-section{
   
    padding: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--lighterblack-color);
}

.profile-pic{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.menu-btn{
    position: absolute;
    left: 242px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border: 2px solid var(--lighterblack-color);
    background-color: var(--white-color);
    border-radius: 12px;
    transition: all 0.3s;
}

.menu-btn:hover{
    background: var(--gradient-primary);
    color: var(--white-color);
    cursor: pointer;
    border: 1px;
}

.profile-pic img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}
.profile-details{
    flex: 1;
    margin-left: 8px;
}

.profile-details #profile-name{
   font-size: 14px;
   font-weight: 500;
   margin-bottom: 0px;
}

.profile-details #profile-company{
    font-size: 10px;
    font-weight: 500;
    color: var(--lightblack-color);
    text-transform: uppercase;
}




/*DASHBOARD SECTION*/

.dashboard-section{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
    margin-top: 14px;
}

.dashboard-cell{
    padding: 16px;
    border-radius: 14px;
    transition: all 0.3s ease;

}


.dashboard-cell:hover {
    background: var(--gradient-primary);
    color: var(--white-color);
    cursor: pointer;
    font-size: larger;
}

.dashboard-cell.active{
    background: var(--gradient-primary);
    color: var(--white-color);
}



.dashboard-section .dashboard-cell > *{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

.dashboard-cell .caret{
    font-size: smaller;
    align-items: center;
    justify-content: center;
}

.dashboard-section .text{
    font-size: 14px;
    font-family: 'Gilroy-Medium', sans-serif;
    margin-left: 12px;
    flex: 1;
}

.dashboard-section a{
    text-decoration: none;
    color: var(--black-color);
}

.settings-section a{
    text-decoration: none;
    color: var(--black-color);
}







/*SETTINGS SECTION*/

.settings-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    padding-top: 8px;
    border-top: 1px solid var(--lighterblack-color);
}

.settings-section .dashboard-cell > *{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.settings-section .text{
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
    margin-left: 12px;
    
}



/*MAIN SECTION*/

.main-page{
    flex: 1;
    margin-left: 260px;
    padding: 40px 80px ;
}


.main-page .header-info{
    width: 100%;
    max-height: 120px;
    min-height: 120px;
    background: var(--gradient-primary);
    padding: 20px;
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    
}

.main-page .header-info .class-section{
    color: var(--white-color);
    font-size: 32px;
    
    
    font-family: 'Gilroy-Heavy', sans-serif;

}

.main-page .header-info .class-department{

    font-family: 'Gilroy-Medium', sans-serif;
    color: var(--white-color);
    font-size: 12px;
    margin-top: -4px;
}


.main-page .header-widgets{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 30px;
    
}

.main-page .header-widgets .widget-cell{

    background: var(--gradient-primary);
    max-height: 120px;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    
    transition: all 0.3s;
}

.main-page .header-widgets .widget-top{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 8px;
    gap: 8px;
    align-items: center;
    color: var(--white-color);
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 12px;
}

.main-page .header-widgets .widget-cell .widget-top i{
    font-size: 24px;
}

.main-page .header-widgets .widget-cell .widget-bottom p{
    margin-top: 8px;
    font-size: 24px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: var(--white-color);
}

.header-widgets .widget-cell > i {
    position: absolute; /* Positioning the icon absolutely within its container */
    bottom: 10px; /* Offset from the bottom */
    right: 10px; /* Offset from the right */
    color: var(--black-color);
    font-size: 24px;
    filter: blur(2px);
    opacity: 0.5;
}


.widget-cell:hover{

    box-shadow: 2px 2px 5px var(--white-color);
}




/*RECORDS SECTION*/

.records-table{
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--white-color);
    box-shadow: 2px 2px 5px var(--lighterblack-color);
    border: 1px solid var(--lighterblack-color);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.records-table .record-cell{
    
    width: 100%;
    border-radius: 12px;
    border-top: 1px solid var(--lighterblack-color);
    border-bottom: 1px solid var(--lighterblack-color);
    
    display: flex;
    flex-direction: row;

    padding: 10px 20px;
    max-height: 60px;
    min-height: 60px;
    
    justify-content: space-between;

    overflow: hidden;

    transition: all 0.5s;
}








.record-cell .record-text{
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
    transition: all 0.3s;
    
    overflow: hidden;
}

.record-id{
    
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    
}

.record-title{
    
    flex: 3;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-right: 32px;
    
}

.record-city{
    
    flex: 1.5;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.record-pricerange{
    
    flex: 1.5;
    display: flex;
    align-items: center;
    overflow: hidden;
}







.records-table .records-table-header{
    background-color: var(--lighterblack-color);
    width: 100%;
    border-radius: 12px;
    
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    align-items: center;
    
    overflow: hidden;

    font-size: 12px;

    padding: 10px 20px;

    margin-bottom: 16px;
    
    
}

.record-cell:hover{
    cursor: pointer;
}

.record-cell:hover .record-text {
    color: blue; 
}

.record-cell:hover .record-profile .record-pic {
    transform: scale(1.1); 
}


